<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="wrapper">
          <h1><a href="/dragonquest.at">{{ site.name }}</a></h1>
      
          {{ content }}

          <div class="footer">
          <div class="contact">
            <p>
              See <a href="https://github.com/ddprrt/dragonquest.at/">GitHub Repo</a> for more details
            </p>
          </div>

          </div>
        </div>
        <script type="text/javascript">
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-30512766-1']);
    	_gaq.push(['_trackPageview']);
    
    	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    	})();
    	</script>
    </body>
</html>
